@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #3f3f46;
  background-color: #242424;
}
html {
  font-size: 16px;
  height: 100%;
  margin: 0;
  background: url("./public/images/background.webp") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 4rem;
}

button.disabled {
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}
